<h1 mat-dialog-title>{{headerTitle}}</h1>
<div mat-dialog-content>
  <img alt="fryNotSure" src="assets/img/fryNotSure.jpg" style="background-color: khaki; vertical-align:middle; width: 13em; height: 12em">
  <p>{{hintText |translate}} {{itemName}} ?</p>
</div>
<div mat-dialog-actions>
  <mat-button-toggle style="background-color: #f56969" mat-button (click)="onCancelClick()">{{cancelLabel | translate}}</mat-button-toggle>
  <mat-button-toggle style="background-color: #56e777" mat-button [mat-dialog-close]="idOfItem">{{confirmLabel | translate}}</mat-button-toggle>
</div>
