<app-data-table *ngIf="!(loadAllDataLoading$ | async)"
                [tableData]="allParts$ | async | defaultArray"
                [displayedColumns]="dataColumns"
                [rowTemplate]="rowTemplate"
>

  <ng-template #rowTemplate let-row>
    <td>
      <input matInput #box [placeholder]="'GRAND_DISCOUNT' | translate"
             (keyup.enter)="onGenerateRabat(row, box.value)">
    </td>
    <td>
      <app-action-confirm-dialog [idOfElement]="row.id"
                                 [hintText]="'DELETE_HINT_TEXT'"
                                 [itemName]="row.name"
                                 [headerTitle]="'DELETE_LABEL_TEXT' | translate"
                                 (acceptButtonClicked)="onRemove($event)"
                                 [confirmButtonLabel]="'DATA.BUTTON.DELETE' | translate"
                                 class="action_button_delete"></app-action-confirm-dialog>
    </td>
  </ng-template>
</app-data-table>

